
.logindiv{
    width: 30%;
    margin: auto;
    border: 2px solid black;
    padding: 50px;
    
}
.ldiv{
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
}
.idiv{
    
    font-size: 15px;
    padding: 8px;
    width: 60%;
    
}
.onlyh2{
    text-align: center;
}

.lbut{
  width: 65%;
  margin-top: 20px;
  padding: 12px;
  font-size: 15px;
  border-radius: 8px;
  text-decoration: none;
}

.lbut:hover{
 cursor: pointer;
 background-color: darkcyan;
}
